/* 全ページ共通   */
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100vh;
  &.pink {
    background-color: pink;
  }
  &.lightblue {
    background-color: lightblue;
  }
}

.inner {
  flex: 1;
  padding: 0 24px;
}
